{% load static %}
<link rel="stylesheet" href="{% static 'store/css/hero.css'%}" />
<section class="hero-section">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="hero-content">
                <span class="hero-badge"> Premium Global Connectivity </span>

                <h1 class="hero-title">
                  Break Digital
                  <span>Barriers</span>
                </h1>

                <p class="hero-description">
                  Stay connected wherever life takes you with premium Physical
                  SIMs and eSIMs designed for travellers, remote professionals
                  and businesses.
                </p>

                <div class="hero-buttons">
                  <a href="" class="btn btn-primary btn-lg">
                    Shop SIM Cards

                    <i class="fas fa-arrow-right ms-2"></i>
                  </a>

                  <a href="#" class="btn btn-outline-dark btn-lg">
                    Explore eSIMs

                    <i class="fas fa-arrow-right ms-2"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="hero-products">
                <div class="hero-circle"></div>
                <img
                  src="{% static 'store/svg/asia-sim.png' %}"
                  class="product-card card-1"
                  alt="UAE SIM"
                />
                <img
                  src="{% static 'store/svg/asia-sim.png' %}"
                  class="product-card card-2"
                  alt="Europe SIM"
                />
                <img
                  src="{% static 'store/svg/asia-sim.png' %}"
                  class="product-card card-3"
                  alt="Asia SIM"
                />
                <img
                  src="{% static 'store/svg/asia-sim.png' %}"
                  class="product-card card-4"
                  alt="New Zealand SIM"
                />
                <img
                  src="{% static 'store/svg/asia-sim.png' %}"
                  class="product-card card-5"
                  alt="New Zealand SIM"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
