asgiref==3.11.0
dj-database-url==3.1.0
Django==6.0
django-browser-reload==1.18.0
django-ckeditor==6.7.2
django-environ==0.14.0
django-js-asset==3.1.2
django-taggit==6.1.0
gunicorn==25.0.3
packaging==26.2
phonenumbers==8.13.29
pillow==11.1.0
psycopg2-binary==2.9.11
sqlparse==0.5.4
tzdata==2023.4
whitenoise==6.11.0
